@import "tailwindcss";

:root {
  --color-bg-dark: hsl(0 0% 90%);
  --color-bg: hsl(0 0% 100%);
  --color-bg-light: hsl(0 0% 98%);
  --color-text: hsl(0 0% 10%);
  --color-text-muted: hsl(0 0% 40%);
  --color-border: hsl(0 0% 80%);
  --color-border-muted: hsl(0 0% 90%);
  --color-primary: hsl(217 78% 60%);
  --color-secondary: hsl(38 85% 45%);
  --color-danger: hsl(9 40% 55%);
  --color-danger-vibrant: hsl(9 60% 50%);
  --color-warning: hsl(52 50% 50%);
  --color-warning-vibrant: hsl(52 80% 55%);
  --color-success: hsl(146 35% 45%);
  --color-success-vibrant: hsl(146 45% 40%);
  --color-info: hsl(217 45% 55%);
  --color-info-vibrant: hsl(217 60% 50%);
  --color-info-muted: hsl(216, 69%, 92%);
  --color-warning-muted: hsl(51, 57%, 93%);
  --color-danger-muted: hsl(8, 79%, 95%);
}

@theme {
  --color-bg: hsl(var(--color-bg));
  --color-bg-light: hsl(var(--color-bg-light));
  --color-bg-dark: hsl(var(--color-bg-dark));
  --color-text: hsl(var(--color-text));
  --color-text-muted: hsl(var(--color-text-muted));
  --color-border: hsl(var(--color-border));
  --color-border-muted: hsl(var(--color-border-muted));
  --color-primary: hsl(var(--color-primary));
  --color-secondary: hsl(var(--color-secondary));
  --color-danger: hsl(var(--color-danger));
  --color-danger-vibrant: hsl(var(--color-danger-vibrant));
  --color-warning: hsl(var(--color-warning));
  --color-warning-vibrant: hsl(var(--color-warning-vibrant));
  --color-success: hsl(var(--color-success));
  --color-success-vibrant: hsl(var(--color-success-vibrant));
  --color-info: hsl(var(--color-info));
  --color-info-vibrant: hsl(var(--color-info-vibrant));
  --color-info-muted: hsl(var(--color-info-muted));
  --color-warning-muted: hsl(var(--color-warning-muted));
  --color-danger-muted: hsl(var(--color-danger-muted));
}

* {
  box-sizing: border-box;
}

body {
  background-color: hsl(var(--color-bg));
  color: hsl(var(--color-text));
  transition: background-color 0.3s ease, color 0.3s ease;
  font-optical-sizing: auto;
  box-sizing: border-box;
}
